/*Global styling*/
$main-font : siteFont , sans-serif;
$body-color : #515151;
$main-font-dark :  #252525;
$secondary-font : test;
$body-font:'Cabin', sans-serif;
$secondary-font-color: #c59d5f;


@font-face {
  src: url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
  font-family: siteFont;

}

@font-face {
  src: url('../fonts/HerrVonMuellerhoff-Regular.ttf');
  font-family: test;
}

*,*::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: $main-font;
  font-size: 10px;
  color: $body-color;
  scroll-behavior: smooth;
}

section{
  padding: 3.9rem 0;
  text-align: center;
}

img{
  width: 100%;
  max-width: 100%;
}

a{
  text-decoration: none;
}

p{
  font-size: 1.6rem;
}

.container{
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.open
{

  .fa-times{
    display: block;
    color: white;

  }

  .fa-bars{
    display: none;
  }

  .nav-list{
    transform: translateX(0);
  }

  .nav::before{
    opacity: 1;
    transform: scale(1);
  }
}


.btn{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
  text-align: center;


}

.sub-headline{
  font-size: 8.5rem;
  color: $secondary-font-color;
  font-family: $secondary-font;
  font-weight: 100;
  line-height: .4;
  letter-spacing: 2px;

  .first-letter{
    text-transform: uppercase;
    font-size: 10.3rem;
  }
}

.headline{
  color : #ffffff;
  font-size: 3.8rem;
  font-family: $main-font;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
}

.asterisk{
  font-size: 1.2rem;
  color: $secondary-font-color;
  margin: 0 1.6rem;
}

.headline-dark{

  color : $main-font-dark;
}

.global-headline{
  text-align: center;
  margin-top: 6rem;

  .asterisk{
    color: $body-color;
    margin: 2.4rem 0;
  }

  .sub-headline{
    letter-spacing: -1px;
    line-height: .24;

  }
}


.body-btn{
  font-size: 1.5rem;
  color: $secondary-font-color;
  position: relative;
  margin-top: 1.5rem;
  transition: color .5s;
  text-align: center;
  margin-bottom: 1rem;

  &::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: $secondary-font-color;
    transition: background-color .5s;

  }
  &:hover,:focus{
    color: $main-font-dark;
  }

  &::before:hover,&::before:focus{
    background-color: $main-font-dark;
  }

}

.image-group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin-top: 2rem;
}

/*End of Global Styling*/


/*header style*/
header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);

  .nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-toggle{
      color: #ffffff;
      font-size: 2.2rem;
      position: absolute;
      top: 50%;
      transform: translate(-50%);
      right: 2.5rem;
      cursor: pointer;
      z-index: 1500;

      .fa-times{
        display: none;
      }
    }

    .nav-list{
      list-style: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 80%;
      height: 100vh;
      background-color: $main-font-dark;
      padding: 4.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 1250;
      transform: translateX(-100%);
      transition: transform 0.5s;
    }

    &::before{
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0,0,0,0.8);
      z-index: 1000;
      opacity: 0;
      transform: scale(0);
      transition: opacity 0.5s;

    }

  }
}

/*header style ends*/

/*hero */
.hero{
  width: 100%;
  height: 100vh;
  background: url("../images/hero.jpg") center no-repeat ;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;




  .headline-description{
    .separator{
      display: flex;
      align-items: center;
      justify-content: center;

      .line{
        width: 100%;
        max-width: 8.4rem;
        height: .25rem;
        background-color: #ffffff;
        position: relative;
      }

      .line-right::before, .line-left::before{
        content: '';
        position: absolute;
        border: 0.6rem solid transparent;
        top: 50%;
        transform: translateY(-50%);
      }

      .line-right::before{
        border-right-color: #ffffff;
        right: 0;
      }
      .line-left::before{
        border-left-color: #ffffff;
        left: 0;
      }

    }


    h5{
      color: #ffffff;
      font-size: 1.4rem;
      font-weight: 100;
      text-transform: uppercase;
      margin-bottom: 1.2rem;
      letter-spacing: 3px;
      margin-right: -3px;
    }
  }

  .single-animation{
    .cta-btn{
      font-size: 1.1rem;
      background-color: #ffffff;
      padding: .9rem 1.8rem;
      color: $body-color;
      border-radius: .4rem;
      transition: background-color .5s ease-out;

      &:hover,:focus{
        color: #ffffff;
        background-color: $secondary-font-color;
      }
    }
  }
}

/*hero styling end*/

/*-discover story*/
.discover-our-story{

  margin-top: 6.9rem;

  .restaurant-info{
    text-align: center;

    .restaurant-description{
      margin-bottom: 2.4rem;

    }
  }

}

/*discover story ends*/

/*tasteful-recipes */
.tasteful-recipes{
  background: url("../images/tasteful-recipes.jpg") center no-repeat;
  background-size: cover;
}

.between{
  min-height: 65vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/*end of tasteful-recipes */

/*discover menu */
.discover-our-menu{


  .restaurant-description{
    padding-top: 3rem;
    margin-bottom: 0;
  }

}


/*end of discover menu*/

/*the perfect blend */
.perfect-blend{
  background: url("../images/perfect-blend.jpg") center no-repeat;
  background-size: cover;
}

/*the perfect blend end */

/*footer*/
footer{
  padding: 7.9rem 0;
  background-color: #121212;
  color: #ffffff;
  text-align: center;
  position: relative;

  .back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;

    i{
      display: block;
      color: #ffffff;
      font-size: 2rem;
      padding: 2rem;
    }

  }

  .footer-content{
    //overflow: hidden;

    h4{
      font-size: 1.9rem;
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 3px;
      margin-bottom: 3rem;
    }

    .asterisk{
      margin: 2.4rem 0;
    }

    .footer-content-about{
      margin-bottom: 5.4rem;

      p{
        line-height: 2;
      }

    }

    .footer-content-divider{
      .social-icons{
        list-style: none;
        margin-bottom: 5.4rem;
        display: flex;
        justify-content: center;

        i{
          font-size: 2rem;
          color: #ffffff;
          padding: 0.8rem 2rem;
          opacity: .5;
          transition: color .5s;

          &:hover,:focus{
            color: $secondary-font-color;
          }
        }
      }

      .newsletter-form{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        .newsletter-input{
          width: 100%;
          max-width: 25rem;
          padding: 1rem;
          border-radius: .4rem;
          border: none;
        }

        .newsletter-btn{
          background-color: transparent;
          border: none;
          color: $main-font-dark;
          cursor: pointer;
          font-size: 1.6rem;
          padding: 1px .6rem;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 10.5rem;

        }

      }

    }

  }

}
/*footer end*/

@import "media";